<app-header></app-header>
<br>
<div class="container">

  <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th scope="col">depVille</th>
        <th scope="col">desVille</th>
        <th scope="col">dateDep</th>
        <th scope="col">dateDest</th>
        <th scope="col">dateRetour</th>
        <th scope="col">nbIntervenant</th>
        <th scope="col">object</th>
        <th scope="col">Action</th>
        <th scope="col">Vote</th>
        <th scope="col">Travel Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let travel of travels">

        <td>{{travel.depVille}}</td>
        <td>{{travel.desVille}}</td>
        <td>{{travel.dateDep|date:"dd/MM/yyyy"}}</td>
        <td>{{travel.dateDest|date:"dd/MM/yyyy"}}</td>
        <td>{{travel.dateRetour|date:"dd/MM/yyyy"}}</td>
        <td>{{travel.nbIntervenant}}</td>
        <td>{{travel.object}}</td>
        <td>
          <button (click)="Participate(travel.idVoyage,1)" mat-raised-button color="primary">Participate</button>
        </td>
        <td>

          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Vote
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="Vote1(travel.idVoyage,1,1)">1/5</a></li>
              <li><a class="dropdown-item" (click)="Vote1(travel.idVoyage,1,2)">2/5 </a></li>
              <li><a class="dropdown-item" (click)="Vote1(travel.idVoyage,1,3)">3/5</a></li>
              <li><a class="dropdown-item" (click)="Vote1(travel.idVoyage,1,4)">4/5</a></li>
              <li><a class="dropdown-item" (click)="Vote1(travel.idVoyage,1,5)">5/5</a></li>



            </ul>
          </div>



        </td>
        <td> <button mat-raised-button color="Basic" [routerLink]="['/travelDetails',travel.idVoyage]">Details</button> </td>
      </tr>

    </tbody>
  </table>
</div>