

<form class="example-form"  (ngSubmit)="addAssignProject()">
   
    <tr>
        <td>
            <div class="form-group">
 
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input  name="nom" [(ngModel)]="project.nom"type="text" id="nom" matInput placeholder="Ex. sport" >
              </mat-form-field>
            </div>
        </td>
    </tr>
    <tr>
        <td>
 
            <div class="form-group">
                <mat-form-field appearance="fill">

                 <mat-label>Font size</mat-label>
                 <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                   <mat-option value="10px">10px</mat-option>
                   <mat-option value="12px">12px</mat-option>
                   <mat-option value="14px">14px</mat-option>
                   <mat-option value="16px">16px</mat-option>
                   <mat-option value="18px">18px</mat-option>
                   <mat-option value="20px">20px</mat-option>
                 </mat-select>
               </mat-form-field>
               
               <mat-form-field [style.fontSize]="fontSize.value" appearance="fill">
                <mat-label>description</mat-label>
                                 <textarea matInput
                           cdkTextareaAutosize
                           #autosize="cdkTextareaAutosize"
                           cdkAutosizeMinRows="1"
                           cdkAutosizeMaxRows="5"  name="description"  [(ngModel)]="project.description" 
                           type="text" id="description" matInput placeholder="Ex. this project ..." ></textarea>
             </mat-form-field>
            </div>
        </td>
    </tr>
    <tr>
        <td>
              
                    <mat-label>Choose a date of start project</mat-label>
                    <input matInput type="date" [(ngModel)]="project.dateDebut" name="dateDebut" >
                   
            
        </td>
    </tr>
    
    <tr>
        <td>
            <div class="form-group">
 
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Budget</mat-label>
                <input  name="budget" [(ngModel)]="project.budget"type="number" id="budget" matInput placeholder="Ex. 200$" >
              </mat-form-field>
            </div>
        </td>
    </tr>
    <tr>
        <td>
              
                    <mat-label>Choose a date of end project</mat-label>
                    <input matInput type="date" [(ngModel)]="project.dateFin" name="dateFin"  >
                   
            
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
 
                <mat-label>Entreprise</mat-label>
                <select name="selectedEntreprise" id="idEntreprise" [(ngModel)]="selectedEntreprise"  >
                   <option>select a choice</option>
                   <option *ngFor="let u of listEntreprise" value="{{u.idEntreprise}}" >{{u.nomEntreprise}}</option>
                </select>
            
            </div>
        </td>
    </tr>
    
    <tr><td>  <button type="submit"  mat-raised-button color="primary">Add Project</button></td></tr>
  
 </form>
 














