<form #form="ngForm" class="mb-4" autocomplete="on">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput title="s" placeholder="example@example.com" #email="ngModel" name="email"
            [(ngModel)]="formModel.email" required />
    </mat-form-field>


    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" (click)="sendEmail(email.value)" mat-raised-button color="primary"
                [disabled]="form.invalid">
                Send Email
            </button>
        </div>
    </div>
</form>
